body{
    background-color: black;
    padding: 0px;
    margin: 0px;
}

p{
    margin-top:0px;
    padding-top:0px;
    color: white;
}

.taskbar{
    background-color: red;
    margin-top:0px;
    padding-top:0px;
    /* position: fixed; */
    /* top:0;
    left:0;
    width:100%;
    height:5%;
    z-index:1000; */
}

.aboutMe{
    background-color: blue;
}

.projectLine{
    background-color: yellow;
}

.timeline{
    background-color:green;
}

.contactMe{
    background-color:brown;
}