html{
    height: 100%;
}


body{
    background-color: black;
    padding: 0px;
    margin: 0px;
    height: 100%;
    min-width: 400px;
}

p{
    margin-top:0px;
    padding-top:0px;
    color: white;
}

.titleBar{
    background-color: red;
    margin-top:0px;
    padding-top:0px;
    height: 100px;
}

.navigateBox{
    background-color:pink;
    width: 75px;
    height: 75px;
    margin: 10px;
    position: fixed;
}


    

.aboutMe{
    background-color: blue;
    height: 425px;
    width: 100%;
    padding: 0;
    margin:0;
    display:flex;
}


.pictureContainer{
    width: 40%;
    height: 100%;
    container-type:size;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: orange;
}

.photoCircle{
    position: absolute;
    width: 90cqmin;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color:brown;
    z-index: 1;
}

.rectangle{
    height: 94cqmin;
    position:relative;
    width: 20px;
    margin: 2px;
    z-index: 0;
    background-color: blue;
}

.textContainer{
    width: 60%;
    height: 100%;
    position: relative;
}

.textContainer::before{
    content:"";
    position:absolute;
    inset: 0;
    background-color:black;
    clip-path: polygon(17% 0, 100% 0, 100% 100%, 0 100%);
}

.textContainer::after{
    content:"";
    position:absolute;
    inset: 4px;
    background-color:green;
    clip-path: polygon(17% 0, 100% 0, 100% 100%, 0 100%);
}





.projectLine{
    background-color: yellow;
    height: 70vh;
}





.timeline{
    background-color:green;
    height: 60vh;
}

.contactMe{
    background-color:brown;
    height: 12vh;
}


/* Small screen width layout changes */
@media(max-width: 650px){
    .aboutMe{
        display: inline;
    }

    .pictureContainer{
        width: 100%;
        height: 350px;
    }
    
    .textContainer{
        width: 100%;
        height: 375px;
    }
    .textContainer::before
    {
        content:"";
        position:absolute;
        inset: 0;
        background-color:black;
        clip-path: polygon(17% 0, 100% 0, 100% 100%, 0 100%,0 17%);
    }

.textContainer::after
    {
        content:"";
        position:absolute;
        inset: 4px;
        background-color:green;
        clip-path: polygon(17% 0, 100% 0, 100% 100%, 0 100% ,0 17%);
    }
}